.post-card {
  display: flex;
  flex-direction: column;
  border: solid 0.8px #d8d8d8bd;
  box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.46);
  margin-bottom: 1.25rem;
  min-width: 100%;
  max-width: 80vw;
  padding: 0.25em;
  text-decoration: none;
  color: inherit;
}

.post-card:hover {
  background-color: rgba(0,0,0,0.1);
  cursor: pointer;
}

.post-card-header img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.post-card-body {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.post-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 900;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.post-subtitle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5em;
  font-size: 16px;
}

.post-preview {
  font-size: 16px;
  line-height: 20px;
  padding-top: 0.5em;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.post-card-footer {
  display: flex;
  gap: 2em;
  margin: 1em;
  color: rgb(99, 98, 98);
  font-size: 14px;
}

.post-card-header, .post-card-body{
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

@media screen and (min-width: 800px) {
  .post-card {
    width: 500px;
    min-height: 250px;
    align-items: stretch;
  }
}