.home {
  height: 75vh;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.hero {
  width: 100%;
  height: fit-content;
  margin: auto;
}

.hero-img {
  margin: auto;
  height: 240px;
  object-fit: contain;
  border-radius: 50%;
}

.hero-text {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5;
  padding-left: 1rem;
} 

.supertitle, .subtitle {
  font-size: 20px;
  font-weight: 300;
  margin: 0;
  padding-left: 0.5rem;
}

.title-name {
  color: black;
  font-family: 'Cantarell', sans-serif;
  line-height: 72px;
  font-size: 72px;
  font-weight: 700;
  margin: 0;
}

.subtitle {
  line-height: 50px;
}

@media screen and (min-width: 800px) {
  .hero {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
  }

  .hero-img {
    object-fit: cover;
    width: 100%;
    height: auto;
  }

  .hero-text {
    width: 100%;
  }

  .supertitle {
    font-size: 30px;
  }

  .title-name {
    font-size: 82px;
    line-height: 90px;
  }

  .subtitle {
    padding-top: 0.5em;
    font-size: 36px;
    line-height: 46px;
  }
}

@media screen and (min-width: 1333px) {
  .home {
    min-height: 100vh;
  }
}