header {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(0,0,0,0.9);
  box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.2);
  position: sticky;
  top: 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex: 1;
  padding: 1rem;
}

.nav-link {
  color: white;
  margin: 0;
  padding: 0.5rem;
}

.nav-link:hover {
  background-color: white;
  color: black;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  color: inherit;
}

.blog-link {
  border-left: 1px solid white;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (min-width: 800px) {
  .nav-link {
    padding: 1.5rem;
  }

  .nav-link:hover {
    background-color: white;
    color: black;
  }
 
  nav a {
    font-size: 20px;
    font-weight: 400;
  }

  .blog-link {
    padding-left: 1.5rem;
  }

}