.post {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.post-header {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.post-title {
  line-height: 24px;
}

.post-subtitle {
  line-height: 12px;
}

.post-content {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.post-footer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}


.like-btn {
  align-self: flex-start;
}

.like-btn img {
  cursor: pointer;
  object-fit: contain;
  height: 30px;
}

@media screen and (min-width: 800px) {
  .post {
    width: 80vw;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: auto;
  }
  .post-title {
    font-size: 32px;
  }
  .post-subtitle {
    font-size: 20px;
  }
  .post-content {
    font-size: 18px;
  }
  p {
    display: flex;
  }
  img {
    max-width: fit-content;
    margin: auto;
  }
}